.header__links {
    display: flex;
    align-items: center;
}
.header__logo {
    color: #006aff;
}
.header__logo h2 {
    font-weight: bold;
    font-size: 5rem; 
}
.header__auth {
    display: flex;
    align-items: center;
}
.header__icons {
    cursor: pointer;
}
.header__icons:hover {
    color: #006aff;
}
@media (max-width: 479px) {
    .header__links, .header__auth {
        display: none;
   }
}
@media (min-width: 1024px) {
    .header__icons {
        display: none !important;
   }
}
