.property {
    border-bottom: 0.2rem solid #006aff;
    cursor: pointer;
}
.property__top-time {
    top: 0;
    left: 0;
    padding: 0.5rem 1.5rem;
    color: #fff;
    background: rgba(0, 0, 0, .54);
    font-size: 1.3rem;
}
.property__top-wish {
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: #fff;
}
.property__top-name {
    right: 1rem;
    bottom: 1rem;
    color: #fff;
    letter-spacing: 0.3rem;
}
.property__information-detail li {
    border-right: 1px solid #d1d1d5;
}
.property__information-detail li:last-child {
    border: none;
}
.property__information-address {
    margin-top: 0.5rem;
    font-weight: 400 !important;
}
.property__information-status {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: red;
    display: inline-block;
    margin-right: 0.5rem;
}


.banner-img {
    height: 250px !important;
    width:100%;
    object-fit: cover;
}